doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
   h1 問題文がここに表示されます。
   button 選択肢1
   button 選択肢2
   button 選択肢3
   button 選択肢4
   a(href="./result.html")
    button 成績を見る
