doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title クイズアプリ
  body
    div
      h1.title クリックでスタート
       br
       | (全5問)
      a(href="./content.html") 開始

