.question-area {
  height: 100px;
  font-size: 20px;
}
button {
  display: block;
  width: 150px;
 margin: 0 auto 20px;
  border-radius: 7px;
}
#showresult {
  // display: none;
  margin: 0 auto 30px;
  width: 200px;
  background: yellowgreen;
  border-radius: 3px;
}

